

<div class="left">
    {{#each dates as |date| }}
    <ul class="weekday">{{date.weekday}} {{date.month}}/{{date.day}}

        <label for="addMeal">Add a Meal:</label>

        <select name="meals" id="meals">
            {{#each meals }}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </ul>
    {{/each}}
</div>
<h2>Active Recipes:</h2>
            {{#each meals as |meal| }}
            <h4>{{meal.name}}</h4>
            {{/each}}
<div>

</div>
