<!DOCTYPE html>
<html>

<head>
    <title>Recipes</title>
</head>

<body>
    <h1>Recipes</h1>
    <ul>
        {{#each recipes}}
        <li>
            <p id="recipeNameInput">{{this.name}}</p>
            <p>Serving Size: {{this.servingSize}}</p>
            <form action="/recipe/{{this.name}}" method="get">
                <button type="submit">View Recipe</button>
            </form>

            <button id="setActive" onclick="setActiveRecipe('{{this.name}}')" value="/api/recipe/{{this.name}}">Set Active</button>

        </li>
        {{/each}}
    </ul>
    <script src="/js/activeRecipe.js"></script>
</body>

</html>